body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#f1f4f6;
  }
  
  body{
    display:grid;
    grid-template-areas:"header header header"
      "body body body"
      "footer footer footer"
  }
  
  header{
    display:grid;
    grid-area:header;
    background-color:rgb(42, 42, 42);
    height:auto;
  }
  
  header{
    grid-template-columns:60px 1fr 3fr 2fr;
  }
  
  #main{
    display:grid;
    grid-column:4/4;
    text-align:right;
    
  }
  
  #main{
    margin:0;
    padding:0;
  }
  
  #main li{
    display:inline-block;
    padding-right:20px;
    list-style-type:none;
  }
  
  .main{
    margin-top:0;
    padding-top:0;
    display:inline-block;
    
     
    color:#cccccc;
    text-decoration:none;
  }
  
  
  #main nav ul li a{
    font-size:11px;
    transition-property:color, background-color;
    transition-duration:0.6s;
  }
  #main nav ul li a:hover{
    color:yellow;
    
    
  }
  
  
  #logo_div{
    display:flex;
    align-items:center;
  }
  
  #ipc_lg{
    padding-left:0;
  }
  
  .logo{
    display:grid;
    grid-column:1/4;
    width:50px;
    padding-left:0;
  }
  
  .logo p{
    display:grid;
    grid-template-columns:1fr 1fr;
  }
  
  .logo p{
    color:white;
    width:50px;
    padding-left:0;
    margin:0;
  }
  
  .logo img{
    width:30px;
  }
  
  #fort{
    width:110px;
  }
  
  #logo_fort{
    display:grid;
    grid-column:2/4;
    width:110px;
  }
  
  
  
  /*Starting my content*/
  main{
    display:grid;
    grid-area:body;
     
  }
  /* main{
     grid-template-areas:"free occupied occupied free"
      "free occupied occupied free"
      "free occupied occupied free"
  } */
  main{
    display:flex;
    justify-content:center;
  }
  #div_content{
    display:grid;
    height:auto;
    width:80%;
  }
  #div_content{
    display:flex;
    flex-wrap:wrap;
    padding-top:80px;
    gap:10px;
    justify-content:space-around;
    align-items:flex-start;
    
  }
  
  img{
    width:300px;
    
    
    
  }
  #img_top{
    width:100%;
  }
  
  
  .div_img{
    background-color:#fff;
    width:300px;
    height:260px;
  }
  p{
    font-size:10px;
  }
  
  footer{
    display:grid;
    grid-area:footer;
    height:250px;
    margin-top: 50px;
    
  }
  
  
  
  #img_top:hover{
     transform:scalex(1.04);
    transition: transform 1.5s;
  }
  
  img:hover{
    transform:scalex(1.04);
    transition: transform 1.5s;
   
  }

  .div_img:hover{
    color:rgba(221, 221, 43, 0.685);
  }
  
  /*footer*/

  footer{
    display: grid;
    grid-template-rows: auto 2px auto;
    background-color: #666;
  }

  #icons{
    padding-top: 30px;
    
    height: 31px;
    display:inline-block;
    grid-row: 1/3;
    padding-left: 25px;
    
  }

  
  .icons_footer{
    width:30px;
    padding-left: 10px;
  }


  #menus{
    
    display:flex;
    flex-wrap: wrap;
    width:35%;
    grid-row: 3/3;
    
    }

.menus{
  display: block;
  padding:0 25px;
  font-size:12px;
  color:#f1f4f6;

}

h3:hover{
  color:yellow;
}
  
  @media screen and (max-width: 1000px){
  
    #main nav ul li{
     display:block; 
    }
    #main nav ul li a{
        
    font-size:10px;
    
  }
   #fort{
    width:80px;
  }
  
  #logo_fort{
    display:grid;
    grid-column:2/4;
    width:80px;
  }

  .menus{
    font-size:10px;
    padding:0 10px;
    
  }
  .icons_footer{
    width:20px;
   
  }
  .div_img{
    width:200px;
    height:160px;
  }
  img{
    width:200px; 
  }
  p{
    font-size:8px;
  }
  }



  